footer {
  background-color: #212529;
  color: white;
  height: 10em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

footer h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
  margin-left: 2em;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location {
  grid-column-start: 2;
}

.open-times {
  grid-column-start: 3;
}

footer li {
  letter-spacing: 2px;
  align-self: center;
}

/* Media Queries */

/* Iphone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 360px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  footer h1 {
    margin: 0;
    font-size: 1.7em;
    margin: 0.5em 0 0.5em 0;
  }

  footer ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em;
  }

  .open-times {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em 0 0.5em 0;
  }
}

/* Moto G4 */
@media only screen and (min-width: 360px) and (max-width: 375px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  footer h1 {
    margin: 0;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
  }

  footer ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em;
  }

  .open-times {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em 0 0.5em 0;
  }
}
/* Iphone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  footer h1 {
    margin: 0;
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
  }

  footer ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em;
  }

  .open-times {
    padding: 0;
    font-size: 0.7em;
    margin: 0.5em 0 0.5em 0;
  }
}
/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  footer h1 {
    margin: 0;
    font-size: 3em;
    margin: 0.5em 0 0.5em 0;
  }

  footer ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: 0;
    font-size: 1.5em;
    margin: 0.5em;
  }

  .open-times {
    padding: 0;
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
  }
}

/* Ipad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  footer h1 {
    margin: 0;
    font-size: 4em;
    margin: 0.5em 0 0.5em 0;
  }

  footer ul {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .location {
    padding: 0;
    font-size: 1.7em;
  }

  .open-times {
    padding: 0;
    font-size: 1.7em;
  }
}
