@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: transparent;
}

a:hover {
  color: transparent;
}

.form-reservations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("./image7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Media Queries */

/* Iphone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .form-reservations {
    display: flex;
    flex-direction: column;
  }
}

/* Moto G4 */
@media only screen and (min-width: 360px) and (max-width: 375px) {
  .form-reservations {
    display: flex;
    flex-direction: column;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .form-reservations {
    display: flex;
    flex-direction: column;
  }
}

/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-reservations {
    display: flex;
    flex-direction: column;
  }
}

/* Ipad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .form-reservations {
    display: flex;
    flex-direction: column;
  }
}
